*{
    box-sizing: border-box;

}
body

{
    font-family: 'Outfit', sans-serif;
    background-color:hsl(217, 54%, 11%) ;
}


.box

{
    background-color:hsl(216, 50%, 16%) ;
    width: 300px;
    margin: 200px auto;
    border-radius: 10px;

}

.box .pic
{    
    padding: 20px;
}

.box .pic img
{
    width: 100%;
    border-radius: 10px;
    position: relative;

}
.box .pic
{
    position: relative;

}

.box .pic::before
{
   content: "";
    background-color:hsl(178 100% 50% / 20%) ;
    z-index: 1;
    border-radius: 10px;
    
    position:absolute;
    width: 0;
    height: 0;
    top: 20px;
    left: 20px;
   
    cursor: pointer;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.box .pic:hover:before
{
    content: url(./images/icon-view.svg);

    width: calc(100% - 40px);
    height: calc(100% - 44px);
}



.box h2{
    color: hsl(0, 0%, 100%);
   margin: 0 20px;
   cursor: pointer;
   
}
.box h2:hover
{
    color: hsl(178, 100%, 50%);

}
.box p{
    color:hsl(215deg 22% 48%) ;
    margin: 25px 20px 40px 20px;
    font-size: 18px;
}

.box .money-time
{display: flex;
    justify-content: space-between;
    margin:20px 20px;
}



.box .money
{
    display: flex;
    align-items: center;
    color: hsl(178, 100%, 50%);
    gap: 7px;

}

.box .time
{
    display: flex;
    align-items: center;
    color:hsl(215deg 22% 48%) ;
    gap: 5px;


}

.box .made-by
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 20px;
    border-top: 1px solid rgb(81 103 133 / 30%) ;
    padding: 20px 0 30px;
    gap: 10px;


}

.box .made-by .text
{
    
    color:rgb(72 95 126) ;
}
.box .made-by .text span
{
    color: rgb(185 197 212);
    cursor: pointer;
}

.box .made-by .text span:hover
{
    color: hsl(178, 100%, 50%);

}

.box .made-by img
{width: 25px; 
border: 1px solid hsl(0, 0%, 100%);
border-radius: 50%;

}



/*

- Soft blue: hsl(215, 51%, 70%)
- Cyan: hsl(178, 100%, 50%)

### Neutral

- Very dark blue (main BG): hsl(217, 54%, 11%)
- Very dark blue (card BG): hsl(216, 50%, 16%)
- Very dark blue (line): hsl(215, 32%, 27%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 18px
*/